
body {
  background: #ffffff;
  font-family: ulp-font, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
}
.cad93d05e {
  background: #ffffff;
}
.c332ad646.cedda7581 {
  background: #D00E17;
}
.c332ad646.c54cb12a4 {
  background: #0A8852;
}
.ce3038c82 {
  background-color: #10a37f;
  color: #ffffff;
}
.ce3038c82 a,
.ce3038c82 a:visited {
  color: #ffffff;
}
.c0f357190 {
  background-color: #0A8852;
}
.ceb37ec83 {
  background-color: #D00E17;
}
@supports (mask-image: url('/static/img/branding-generic/copy-icon.svg')) {
  @supports not (-ms-ime-align: auto) {
    .c1552b97d.ce68297f6::before {
      background-color: #D00E17;
    }
  }
}
.input.c68509cc9 {
  border-color: #D00E17;
}
.error-cloud {
  background-color: #D00E17;
}
.error-fatal {
  background-color: #D00E17;
}
.error-local {
  background-color: #D00E17;
}
#alert-trigger {
  background-color: #D00E17;
}

/* By default, hide features for javascript-disabled browsing */
/* We use !important to override any css with higher specificity */
/* It is also overriden by the styles in <noscript> in the header file */
.no-js {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --font-family: "ColfaxAI",-apple-system,BlinkMacSystemFont,Helvetica,sans-serif;
  --primary-color: #10a37f;
  --primary-color-no-override: #10a37f;
  --action-primary-color: #10a37f;
  --link-color: #10a37f;
  --input-box-shadow-depth: 1px;
  --page-background-color: #ffffff;
}

body {
  font-family: var(--font-family);
  background-color: var(--page-background-color);
}

.oai-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.oai-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0 0;
  flex: 0 0 auto;
}
.oai-header svg {
  width: 32px;
  height: 32px;
  fill: #202123;
}

.oai-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e6e80;
  padding: 12px 0 24px;
  flex: 0 0 auto;
}
.oai-footer a {
  color: var(--primary-color);
  margin: 0 10px;
}

._widget-auto-layout main._widget {
  flex: 1 0 auto;
  min-height: 0;
}

main header > img:first-of-type {
  display: none;
}
main > section, main > section > div:first-child {
  box-shadow: none;
}
main header > h1 {
  font-weight: bold !important;
  font-size: 32px !important;
}
main a {
  font-weight: normal !important;
}
.ulp-alternate-action {
  text-align: center;
}
button[type="submit"] {
  font-family: var(--font-family);
}

main header > h1 {
    margin-bottom: 0 !important;
}
